@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    align-items: center;
    font-size: 19px;
}
body{
    height: 90vh;
    background-color:#c0cb79f9 ;
}
h3{
    margin-top: 3px;
    text-align: center;
    font-size: 80px;
    color: #d84c53;
}

.container{
    width: 50%;
    min-width: 500px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #3479b1;
    padding-bottom: 60px ;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0,4) 0px 2px 4px ,
                rgba(0,0,0,0,3) 0px 7px 13px -3px,
                rgba(0,0,0,0,2) 0px -3px 0px inset;

}

.timer-display{
    width: 100%;
    background: #b99026;
    padding: 10px 0;
    font-family: 'Roboto',sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: 10px 10px 2px 2px;
    /* box-shadow: rgba(0,0,0,0.17) 0px -23px 25px 0px inset,
                rgba(0,0,0,0.15) 0px -36px 30px 0px inset,
                rgba(0,0,0,0.1) 0px -79px 40px 0px inset,
                rgba(0,0,0,0.06) 0px 2px 1px inset,
                rgba(0,0,0,0.09) 0px 4px 2px inset,
                rgba(0,0,0,0.09) 0px 8px 4px inset,
                rgba(0,0,0,0.09) 0px 16px 8px inset,
                rgba(0,0,0,0.09) 0px 32px 16px inset; */
}
                
                
.laps{
    text-align: center ;
    color: #fff;
    margin-top: 5px;
    text-decoration: none;
    overflow:hidden;
    font-size:12px;
}

.action{
    width: 85%;
    margin: 30px auto 0 auto;
    display:grid ;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px; 
     background: #3479b1;
}

.action button{
    padding: 10px 20px;
    background-color: #d3865c;
    color: #fffff;
    border: none;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0,0,0,0.4) 0px 2px 4px,
                rgba(0,0,0,0.3) 0px 7px 13px -3px,
                rgba(0,0,0,0.2) 0px -3px 0px inset;
}

button:hover{
    background-color: #bd62ac;
    color: #ffffff;
    border: 3px solid #b6b6b6;
    padding: 7px 17px;    
}
